<!DOCTYPE html>
<html lang="en">
<head>

  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
</head>
<body>
    <nav class="navbar navbar-expand-lg navbar-light bg-primary fixed-top navi">
      <a style ="color:black;" href="/admin" class="nav-item text-white" active-color="black"><i class="fas fa-user-tie text-white"></i>&nbsp; &nbsp;Admin</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse " id="navbarNavAltMarkup">
          <div class="navbar-nav text-white">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
              <li class="nav-item">
                <a class="nav-link active text-white" aria-current="page" href="/">&nbsp; &nbsp; Home</a>
              </li>
              
            </ul>
          </div><br><br>

        </div>
    </nav><br><br><hr>
</body>
</html>