{% load bootstrap4 %}
{% load static %}
<link rel="stylesheet" href="{% static 'css/index.css'%}">
{% block styles %}
{% bootstrap_css %}
<link rel="stylesheet" href="{% static 'css/index.css'%}">
<link rel="stylesheet" href="{% static 'css/style.css'%}">
{% endblock %}

<nav class="navbar navbar-expand-lg navbar-light" id="navbar">
  <img src="static/images/instagram.png" width="70" height="50" />

  <button
    class="navbar-toggler"
    type="button"
    data-toggle="collapse"
    data-target="#navbarSupportedContent"
    aria-controls="navbarSupportedContent"
    aria-expanded="false"
    aria-label="Toggle navigation"
    <span class="navbar-toggler-icon"></span></button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">

      <li class="nav-item nav">
        <a class="nav-link nav" href="/"
          ><i class="fa fa-home"></i>Home </a>
      </li>
      <li class="nav-item nav">
        <a class="nav-link nav" href="/admin"
          ><i class="fas fa-user-tie text-dark"></i>Admin </a>
      </li>
      <li class="nav-item nav">
        <a class="nav-link nav" href="/profile"
          ><i class="fa fa-user"></i>Profile </a>
      </li>

    </ul>
    <form class="form-inline my-2 my-lg-0 button">
      <input
        class="form-control mr-sm-2"
        type="search"
        placeholder="Search User"
        aria-label="Search"
      />
      <button class="btn btn-outline-success my-2 my-sm-0" type="submit">
        Search
      </button>
    </form>


    <li type="none">
      <a class="text-black" href="/accounts/register"><i class="fa fa-sign-in"></i>Register</a>
    </li>
    <div class="btn" id="account">
      {% if user.is_authenticated %}
      <ul>
        <li class="dropdown" type="none">
          <a href="/"
            class="dropdown-toggle btn"
            data-toggle="dropdown"
            role="button"><i class="fa fa-sign-in"></i> My Account
            <span class="caret"></span>
          </a>
          <ul class="dropdown-menu" role="menu">
            <li>
              <a href="/accounts/password/change">Change Password</a>
            </li>
            <li>
              <a href="/logout">Logout</a>
            </li>
          </ul>
        </li>
      </ul>
      {% else %}
      <li>
        <a class="btn btn-default" href="/accounts/login"><i class="fa fa-sign-in" aria-hidden="true"></i>Login</a>
      </li>
      {% endif %}
    </div>
  </div>
</nav>
<br />
<hr />
