
#navbar{
    background: rgb(173,32,94);
    background: radial-gradient(circle, rgba(173,32,94,1) 5%, rgba(224,22,218,0.7203256302521008) 30%, rgba(160,185,229,1) 52%, rgba(194,194,14,1) 74%, rgba(148,187,233,1) 93%);
padding: 1rem;
text-indent: 1rem;
}
h1{
    color: rgb(179, 24, 62);
}
body{
    margin: 2rem;
}

#first{
    font-family: 'Cookie', cursive;
    font-family: 'Lobster Two', cursive;
    font-family: 'M PLUS 1 Code', sans-serif;
    font-family: 'Outfit', sans-serif;
    font-family: 'Petemoss', cursive;
    font-family: 'Staatliches', cursive;
    font-family: 'Tangerine', cursive;
    font-size: 60px;


}
.button {
    background-color: #ddd;
    border: none;
    color: black;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
     margin: 4px 2px;
    cursor: pointer;
    border-radius: 16px;
    }

.date{
    background-color: greenyellow;
      }

#name{
    background-color: aqua;
    color: brown;
    }
#account{
    float: right;
    color: red;
}

#loginpage{
    background-color: aqua;
}