
#navbar{
background: rgb(183,195,34);
background: linear-gradient(0deg, rgba(183,195,34,1) 4%, rgba(194,52,186,1) 6%, rgba(193,95,192,1) 20%, rgba(192,178,123,1) 30%, rgba(191,163,102,1) 50%, rgba(197,189,83,1) 60%, rgba(208,136,60,1) 85%);
text-indent: 0.7rem;
}
 h1{
    color: rgb(179, 24, 62);
}


#first{
    font-family: 'Cookie', cursive;
    font-family: 'Lobster Two', cursive;
    font-family: 'M PLUS 1 Code', sans-serif;
    font-family: 'Outfit', sans-serif;
    font-family: 'Petemoss', cursive;
    font-family: 'Staatliches', cursive;
    font-family: 'Tangerine', cursive;
    font-size: 60px;


}
.button {
    background-color: #ddd;
    border: none;
    color: black;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
     margin: 4px 2px;
    cursor: pointer;
    border-radius: 16px;
    }



body{
    overflow-x: hidden;
    padding:0px;
    margin:0px;
    font-size: 20px;
    background-color: burlywood;
    
  }
  
  .profile_photo {
    width: 60px;
    height: 60px;
    border-radius: 50%;
  }
  .username {
    color: black;
  }
  nav {
    color: #0d0d0e !important;
    height: 8vh !important;
    font-size: 25;
    padding-top: 1vh;
  }
  
  h2,h1 {
    color: #141314;
  }
  .img-thumbnail {
    cursor: pointer;
    border-radius: 6px;
  }
  .gal-item {
    float: left !important;
  }
  
  .footer a {
    color: #500ad1 !important;
  }
  img {
    width: 70%;
  }
  .pull-right, .subscribe {
    color: white !important;
  }
  .menu {
    color: white !important;
  }
  
  .name {
    padding-top: 8%;
    color: hsl(251, 96%, 29%);
    text-align: center;
  }
  .slide {
    width: auto;
  }